<!DOCTYPE html>
<html lang="en">
<%- include('partials/head.ejs') %>
<body>
    <%- include('partials/header.ejs') %>
    <main>
        <article class="card">
            <div class="card-left">
                <figure>
                    <img src="img/users/default.png" alt="">
                </figure>
                <h3>#1</h3>
            </div>
            <div class="card-content">
                <h3>Nombre Apellido</h3>
                <p>Categoría: Vendedor</p>
                <p>Email: <a href="mailto:un@email.com" target="_blank">un@email.com</a></p>
                <div>
                    <a class="button" href="/users/1">Ver detalle</a>
                </div>
            </div>   
        </article>
    </main>
</body>
</html>