<header>
    <marquee>MANIJA 🕹️ STORE</marquee>
</header>
<marquee class="exchange">
    <span>
        DOLAR OFICIAL: <%= locals.exchange ? exchange.oficial : 'N/A' %> 💵
    </span>

    <span>
        DOLAR BLUE: <%= locals.exchange ? exchange.blue : 'N/A' %> 💸
    </span>

    <span>
        DOLAR TURISTA: <%= locals.exchange ? exchange.turista : 'N/A' %> 🏖️
    </span>

    
</marquee>
<nav>
    <a href='/products'>LISTADO DE PRODUCTOS</a>
</nav>