<!DOCTYPE html><!-- Es HTML v5 -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Repaso de HTML</title>
</head>
<body>
    <header>
        <div><img src="https://placeimg.com/640/480/tech" alt="Imagen random"></div>
        <div><img src="/img/tech.jpeg"></div>
        <nav>
            <ul>
                <li><a href="/">Página principal</a></li>
                <li><a href="#">Acerca de</a></li>
                <li><a href="#">Nuestros productos</a></li>
                <li><a href="#">Contáctanos</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section>
            <h1>Página principal</h1>
        </section>

        <section>
            <h2>Publicidad</h2>
            <div>Banner</div>
        </section>

        <section>
            <h2>Productos</h2>
            <div>
                <article>
                    <img src="" alt="">
                    <h4>Título del producto</h4>
                    <p>Descripción del producto<br>
                    <p>Precio: $5.676</p>
                </article>
                <article>
                    <img src="" alt="">
                    <h4>Título del producto</h4>
                    <p>Descripción del producto<br>
                    <p>Precio: $5.676</p>
                </article>
                <article>
                    <img src="" alt="">
                    <h4>Título del producto</h4>
                    <p>Descripción del producto<br>
                    <p>Precio: $5.676</p>
                </article>
            </div>
        </section>
        <section>

            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fuga repudiandae, eveniet, ratione voluptatibus omnis similique debitis corrupti, enim mollitia sapiente nihil numquam! Consequuntur numquam voluptates iste, dicta provident repudiandae obcaecati!</p>
            <p id="lorem"><strong>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aperiam ratione repellat vero maiores. Non, consequatur.<br><br>
            Temporibus obcaecati earum quia incidunt mollitia doloribus voluptates deserunt nisi, ab repudiandae recusandae illum praesentium.</strong></p>
            <span>Un texto</span>
            <span>Un texto</span> 
            <span>Un texto</span><span>Un texto</span> 
        </section>
    </main>
</body>
</html>